Розробка АІС для регулювання роботи продуктового міні-супермаркету «ZLAGODA» :
         керування процесом збуту товарів у продуктовому міні-супермаркеті
1. Технічне завдання
1.1. Мета розробки. Призначення АІС

          Програмний застосунок призначений для обробки даних, що використовуються в
 процесі збуту товарів у продуктовому міні-супермаркеті «ZLAGODA». Допоможе зручніше
 відслідковувати кількість та ціну продажу одиниць усіх товарів, наявних в магазині, історію
 збуту товарів, список усіх типів товарів, що продаються у супермаркеті, їхні основні
 характеристики, інформацію про всіх працівників та постійних покупців, що мають карту
 клієнта, цього міні-супермаркету. Забезпечить доступ до необхідної інформації касирам та
 менеджерам міні-супермаркету.

2. Технічний проект
2.1. Технічні вимоги
2.1.1. Опис груп користувачів АІС

         Система призначена для 2-ох типів користувачів: менеджер та касир.

         1. Менеджер відповідає за контроль усіх процесів у міні-супермаркеті: слідкує за
             товарами, що продаються у супермаркеті, їх кількістю, ціною продажу, історією
             збуту, працівниками та постійними клієнтами.

         2. Касир відповідає за здійснення продажу товарів (створення чеків) у супермаркеті.

2.1.2. Специфікація вимог
2.1.2.1. Вимоги до даних

          Працівник

          Система веде облік працівників продуктового міні-супермаркету, зберігаючи про
 кожного з них таку інформацію: id працівника, ПІБ, посада, зарплата, дата початку роботи,
 дата народження, контактний телефон, адреса. У базі зберігається інформація про
 працівників двох типів: працівників, що займають посаду менеджера та мають доступ до усієї
 інформації, і касирів, що здійснюють продаж товарів (створення чеків).

          Категорія

          Усі товари, що продаються у магазині, належать певній категорії продуктів. До однієї
 категорії продуктів може належити декілька типів товарів, але один тип товару належить
 лише одній категорії. У базі даних зберігається така інформація про кожну категорію: номер
 категорії, назва.

          Товар

          Кожному «Товару» може належить лише два «Товари у магазині»: звичайний товар та
 акційний товар.

                                                                                                                                   3
         У базі даних зберігається така інформація про кожен товар: id товару, назва, виробник
та характеристики товару.

         Товар у магазині

         У базі даних зберігається інформація про всі товари, що продаються у супермаркеті, як
про звичайні, так і про акційні товари. Товар стає акційним, якщо термін придатності уже
скоро збігає, а кількість одиниць цього товару у магазині є значною. У базі даних зберігається
така інформація про кожен товар у магазині: UPC товару, ціна продажу, к-сть одиниць товару
та інформація про те, чи це акційний, чи звичайний товар.

         Якщо у супермаркеті є ще певна кількість одиниць товару, який має одну ціну продажу,
і надходить нова партія цього товару з новою ціною продажу, то відбувається переоцінка
всього товару: тобто товари старої партії та нової партії матимуть нову ціну продажу.

         У ціну продажу товару входить ПДВ. ПДВ складає 20% від уже сформованої ціни
продажу товару.

         Ціна акційного товару вираховується від ціни звичайного товару шляхом введення
знижки. Знижка на акційний товар є визначена міні-супермаркетом і є стандартною для всіх
типів акційних товарів. Вона складає 20% від ціни товару.

         Акційна ціна товару вираховується таким чином:
         ціна товару * 0,8.

         Чек

         У базі даних впродовж 3-ох років зберігається інформація про всі чеки, які були
створені у супермаркеті касирами за увесь цей період, що включає: номер чека, дату, загальну
суму та ПДВ.

         Загальна сума – це сума грошей, яку повинен сплатити покупець за увесь куплений
товар у чеку. У цю суму входить і ПДВ.

         ПДВ – це сума грошей, частка, яку складає лише ПДВ із загальної суми, обраховується
за формулою: загальна сума* 0.2.

         ПДВ нараховується на всі товари міні-супермаркету. Цей міні-супермаркет не продає
соціальних товарів, на які держава не накладає ПДВ.

         Також у базі даних зберігається список товарів із кількістю одиниць цих товарів, що
були придбані у кожному чеку, та ціною продажу товару, оскільки після переоцінки товару, із
зміною ціни продажу, не можна буде визначити реальної ціни продажу товару у чеку (зв’язок
«продаж» з атрибутами зв’язку «кількість» та «ціна»).

         У одному чеку може бути вказано декілька типів товарів, які купив покупець, а також
покупку одного типу товару можуть здійснювати багато покупців, тобто один тип товару може
бути присутнім у багатьох чеках.

                                                                                                                                 4
          Карта клієнта

          У супермаркеті є постійні клієнти, яким надається карта клієнта з певним відсотком на
 зниження ціни оплати. Сума, яку повинен сплатити покупець зігдно з одним чеком, може
 бути знижена лише за допомогою використання однієї карти клієнта.

           У базі даних зберігається така інформація про кожну карту клієнта: номер карти, ПІБ
 власника карти, його контактний телефон, адреса та відсоток на знижку.

2.1.2.2. Вимоги до роботи з даними

          Введення

          - ввести відомості про нового працівника;
          - ввести відомості про новий товар;
          - ввести відомості про новий товар в магазині;
          - ввести відомості про нову категорію;
          - ввести відомості про новий чек (товари та їх к-сть, куплені у певному чеку);
          - ввести відомості про нову карту клієнта;

          (Всі права на введення даних надаються менеджерові, окрім права здійснювати
 продаж товарів (створення чеків), що надається лише касиру)

           Оновлення

          - оновити відомості про працівника;
          - оновити відомості про категорію;
          - оновити відомості про товар;
          - оновити відомості про товар в магазині;
          - оновити відомості про карту клієнта;

          (Всі права на оновлення даних надаються менеджеру, окрім права на оновлення
 відомостей про карту клієнта, що надається як менеджеру, так і касиру).

                 Вилучення

          - вилучити відомості про працівника;
          - вилучити відомості про товар;
          - вилучити відомості про товар в магазині;
          - вилучити відомості про категорію;
          - вилучити відомості про чек;
          - вилучити відомості про карту клієнта;

          (Всі права на вилучення даних надаються менеджерові)

                                                                                                                                   5
                Функціональні вимоги за типами користувачів

                Менеджер:
         1. Додавати нові дані про працівників, постійних клієнтів, категорії товарів, товари,
товари у магазині;
         2. Редагувати дані про працівників, постійних клієнтів, категорії товарів, товари,
товари у магазині;
         3. Видаляти дані про працівників, постійних клієнтів, категорії товарів, товари,
товари у магазині, чеки;
         4. Видруковувати звіти з інформацією про усіх працівників, постійних клієнтів,
категорії товарів, товари, товари у магазині, чеки;
         5. Отримати інформацію про усіх працівників, відсортованих за прізвищем;
         6. Отримати інформацію про усіх працівників, що займають посаду касира,
відсортованих за прізвищем;
         7. Отримати інформацію про усіх постійних клієнтів, відсортованих за прізвищем;
         8. Отримати інформацію про усі категорії, відсортовані за назвою;
         9. Отримати інформацію про усі товари, відсортовані за назвою;
         10. Отримати інформацію про усі товари у магазині, відсортовані за кількістю;
         11. За прізвищем працівника знайти його телефон та адресу;
         12. Отримати інформацію про усіх постійних клієнтів, що мають карту клієнта із
певним відсотком, посортованих за прізвищем;
         13. Здійснити пошук усіх товарів, що належать певній категорії, відсортованих за
назвою;
         14. За UPC-товару знайти ціну продажу товару, кількість наявних одиниць товару,
назву та характеристики товару;
         15. Отримати інформацію про усі акційні товари, відсортовані за кількістю одиниць
товару/ за назвою;
         16. Отримати інформацію про усі не акційні товари, відсортовані за кількістю
одиниць товару/ за назвою;
         17. Отримати інформацію про усі чеки, створені певним касиром за певний період
часу (з можливістю перегляду куплених товарів у цьому чеку, їх назви, к-сті та ціни);
         18. Отримати інформацію про усі чеки, створені усіма касирами за певний період
часу (з можливістю перегляду куплених товарів у цьому чеку, їх назва, к-сті та ціни);
         19. Визначити загальну суму проданих товарів з чеків, створених певним касиром за
певний період часу;
         20. Визначити загальну суму проданих товарів з чеків, створених усіма касиром за
певний період часу;
         21. Визначити загальну кількість одиниць певного товару, проданого за певний
період часу.

                Касир:
         1. Отримати інформацію про усі товари, відсортовані за назвою;
         2. Отримати інформацію про усі товари у магазині, відсортовані за назвою;
         3. Отримати інформацію про усіх постійних клієнтів, відсортованих за прізвищем;
         4. Здійснити пошук товарів за назвою;

                                                                                                                                 6
          5. Здійснити пошук товарів, що належать певній категорії, відсортованих за назвою;
          6. Здійснити пошук постійних клієнтів за прізвищем;
          7. Здійснювати продаж товарів (додавання чеків);
          8. Додавати/редагувати інформацію про постійних клієнтів;
          9. Переглянути список усіх чеків, що створив касир за цей день;
          10. Переглянути список усіх чеків, що створив касир за певний період часу;
          11. За номером чеку вивести усю інформацію про даний чек, в тому числі
 інформацію про назву, к-сть та ціну товарів, придбаних в даному чеку.
          12. Отримати інформацію про усі акційні товари, відсортовані за кількістю одиниць
 товару/ за назвою;
          13. Отримати інформацію про усі не акційні товарів, відсортовані за кількістю
 одиниць товару/ за назвою;
          14. За UPC-товару знайти ціну продажу товару, кількість наявних одиниць товару.
          15. Можливість отримати усю інформацію про себе.

2.2. Інфологічне та даталогічне проектування
2.2.1. Конецептуальна модель даних
2.2.1.1. ER-модель

          ( див. Додаток1 )

2.2.1.2.Загальні відомості

          ER-модель складається з 6 сутностей: Працівник, Чек, Карта клієнта, Товар у магазині,
 Товар, Категорія.

          Атрибути працівників: ID_працівника (первинний ключ), ПІБ – складений атрибут
 (прізвище, ім'я, по батькові), посада, зарплата, дата початку роботи, дата народження,
 контактний тел., адреса – складений атрибут (місто, вулиця, індекс).

          Атрибути товару у магазині: UPC_товару (первинний ключ), ціна продажу, кількість
 одиниць, акційний товар.

          Атрибути товару: ID_товару (первинний ключ), назва, виробник, характеристики.
          Атрибути категорії: номер_категорії(первинний ключ), назва.
          Атрибути чека: номер_чека (первинний ключ), дата, загальна сума (похідний атрибут,
 що залежить від кількості куплених одиниць товару та ціни за одиницю цього товару), ПДВ
 (похідний атрибут, що залежить від загальної суми покупки).
          Атрибути карти клієнта: номер_карти (первинний ключ), ПІБ – складений атрибут
 (прізвище, ім'я, по батькові), контактний тел., адреса - необов'язковий, складений атрибут
 (місто, вулиця, індекс), відсоток.

2.2.1.3.Корпоративні (семантичні) обмеження цілісності

          Додаткові правила підтримки цілісності даних, які відображують обмеження
 предметної області.

                                                                                                                                   7
          Вік працівників продуктового міні-супермаркету не може бути меншим, аніж 18 років
 (від поточної дати відняти 18 років і дата, отримана в результаті, повинна бути більшою або
 рівною даті народження працівника).

          Номери телефонів працівників та покупців, які мають карту клієнта, не можуть
 перевищувати 13 символів, включаючи символ «+».

          Усі атрибути, що позначають ціну, кількість товарів, зарплату чи відсоток не можуть
 набувати від’ємних значень.
2.2.2. Реляційна модель даних

          ( див. Додаток2 )

                                                                                                                                   8
Додаток 1. ER - модель
                                                                                                                                   9
Додаток 2. Реляційна модель
                                                                                                                                 10
